.big-button {
    background: $purple;
    border: none;
    // border-bottom: .6rem solid darken($purple, 15%);
    box-shadow: 0 .7rem darken($purple, 15%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $xl-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:active {
    background: darken($purple, 5%);
    transform: translateY(.4rem);
    box-shadow: 0 .3rem darken($purple, 15%);
}

.big-button:enabled:hover,
.button:hover {
    background: darken($purple, 5%);
}

.big-button:disabled {
    opacity: .5;
}

//Button
.button {
    background: $purple;
    border: none;
    box-shadow: 0 .3rem darken($purple, 15%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button:active {
    background: darken($purple, 5%);
    transform: translateY(.2rem);
    box-shadow: 0 .1rem darken($purple, 15%);
}

// Convenção do Modifiers do BEM diz que um modificador deve ter um nome separado por dois hífens
.button--link {
    background: none;
    box-shadow: none;
    color: $off-white;
    padding: 0;
}

.button--link:disabled {
    opacity: .5;
}

.button--link:active {
    background: none;
    transform: none;
    box-shadow: none;
}

.button--link:hover {
    background: none;
}